<launch>

	<arg name="tracker_drone" default="drone2" />
	<arg name="execution" default="SIM" />
	<arg name="controller" default="PID" />


	<include file="$(find GAIA-drone-control)/launch/mavros-telem-drone.launch">
		<arg name="ns" value="drone2" />
		<arg name="fcu_url" value="udp://:14031@127.0.0.1:14031" />
		<arg name="tgt_system" value="2" />
	</include>



	<node name="cameranode_trackerdrone" pkg="autonomous_drone_for_dynamic_smoke_plume_tracking" type="simCam_node.py" output="screen">
		<param name="drone" value="$(arg tracker_drone)" />
    </node>

	<node name="flownode" pkg="autonomous_drone_for_dynamic_smoke_plume_tracking" type="opticalflow_node.py" output="screen"/>

	<node name="detectionnode" pkg="autonomous_drone_for_dynamic_smoke_plume_tracking" type="detection_node.py" output="screen"/>

	<node name="segmentationnode" pkg="autonomous_drone_for_dynamic_smoke_plume_tracking" type="segmentation_node.py" output="screen"/>

	<node name="controllernode_trackerdrone" pkg="autonomous_drone_for_dynamic_smoke_plume_tracking" type="controller_node.py" output="screen">
		<param name="drone" value="$(arg tracker_drone)" />
		<param name="execution" value="$(arg execution)" />
		<param name="controller" value="$(arg controller)" />
    </node>

</launch>
